USE [master]
GO
/****** Object:  Database [CASAS RURALES]    Script Date: 4/21/2025 12:52:01 PM ******/
CREATE DATABASE [CASAS RURALES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DCRURAL1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERBADAT\MSSQL\DATA\CASAS_RURALES\RURALMDF.MDF' , SIZE = 10240KB , MAXSIZE = 40960KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'TCRURAL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERBADAT\MSSQL\DATA\CASAS_RURALES\RURALLDF.LDF' , SIZE = 10240KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CASAS RURALES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CASAS RURALES]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 4/21/2025 12:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[idTrabajador] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[direccion] [nvarchar](50) NOT NULL,
	[nif] [nvarchar](9) NOT NULL,
 CONSTRAINT [pk_Personal] PRIMARY KEY CLUSTERED 
(
	[idTrabajador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LetraDni]    Script Date: 4/21/2025 12:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LetraDni](
	[Resto] [int] NOT NULL,
	[Letra] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_LetraDni] PRIMARY KEY CLUSTERED 
(
	[Resto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DNI]    Script Date: 4/21/2025 12:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DNI] AS
SELECT 
nif,
PARSE((SUBSTRING(nif, 0, 9)) as integer) as NUMERO,

SUBSTRING(nif,9,1) as LetraActual,

(SELECT Letra FROM LetraDni WHERE (select PARSE((SUBSTRING(nif, 0, 9)) as integer) from Personal where idTrabajador = p.idTrabajador) % 23 = Resto) as LetraCorrecta

FROM Personal p 
where (select PARSE((SUBSTRING(nif, 0, 9)) as integer) from Personal where idTrabajador = p.idTrabajador) % 23 != 
(SELECT Resto FROM LetraDni where Letra = (SELECT SUBSTRING(nif,9,1) FROM Personal where idTrabajador = p.idTrabajador))
GO
/****** Object:  Table [dbo].[Alojamientos]    Script Date: 4/21/2025 12:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alojamientos](
	[idAlojamiento] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[direccion] [nvarchar](80) NOT NULL,
	[telefono] [nvarchar](9) NOT NULL,
	[pContacto] [int] NOT NULL,
	[disponible] [nvarchar](1) NOT NULL,
 CONSTRAINT [pk_Alojamientos] PRIMARY KEY CLUSTERED 
(
	[idAlojamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Pelaez]    Script Date: 4/21/2025 12:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Pelaez] AS
	select al.* from Alojamientos al
		inner join Personal per on per.idTrabajador = al.pContacto
		where per.nombre like '%Peláez%'
GO
/****** Object:  Table [dbo].[Habitaciones]    Script Date: 4/21/2025 12:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitaciones](
	[idAlojamiento] [int] NOT NULL,
	[idHabitacion] [int] NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[baño] [nvarchar](1) NOT NULL,
	[precio] [decimal](5, 2) NOT NULL,
	[ocupada] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_Habitaciones] PRIMARY KEY CLUSTERED 
(
	[idAlojamiento] ASC,
	[idHabitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Habaño]    Script Date: 4/21/2025 12:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Habaño] AS

	select nombre, 
			(select COUNT(idAlojamiento) from Habitaciones 
					where baño = 'n' and idAlojamiento = al.idAlojamiento) H_sin,

			(select COUNT(idAlojamiento) from Habitaciones 
					where baño = 's' and idAlojamiento = al.idAlojamiento) H_Con,

			(select COUNT(idAlojamiento) from Habitaciones 
					where idAlojamiento = al.idAlojamiento) H_Total

	from alojamientos al
	group by nombre, idAlojamiento
GO
/****** Object:  Table [dbo].[Trabajar]    Script Date: 4/21/2025 12:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trabajar](
	[idTrabajador] [int] NOT NULL,
	[idAlojamiento] [int] NOT NULL,
	[fecAlta] [date] NOT NULL,
	[fecBaja] [date] NULL,
 CONSTRAINT [pk_Trabajar] PRIMARY KEY CLUSTERED 
(
	[idTrabajador] ASC,
	[idAlojamiento] ASC,
	[fecAlta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Vintage]    Script Date: 4/21/2025 12:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Vintage] as
select pe.idTrabajador, pe.nombre, pe.direccion, pe.nif from Personal pe
	inner join Trabajar tra on tra.idtrabajador = pe.idtrabajador
	where (select MONTH(MIN(fecAlta)) from Trabajar) = MONTH(fecAlta)
	group by pe.idTrabajador, pe.nombre, pe.direccion, pe.nif
	having COUNT(fecAlta) = 1
GO
/****** Object:  View [dbo].[vw_Contratos]    Script Date: 4/21/2025 12:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Contratos] as
	select nombre,

		(select COUNT(fecAlta) from Trabajar
				where al.idAlojamiento = idAlojamiento
				and year(fecAlta) % 2 = 0) [Año Par],

		(select COUNT(fecAlta) from Trabajar
				where al.idAlojamiento = idAlojamiento
				and year(fecAlta) % 2 != 0) [Año Impar]

	from Alojamientos al
	group by nombre, al.idAlojamiento
GO
/****** Object:  View [dbo].[vw_SinCurro]    Script Date: 4/21/2025 12:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SinCurro] as
	select pe.* from Personal pe left join Trabajar tra
		on tra.idTrabajador = pe.idTrabajador
		where tra.idTrabajador is null
GO
/****** Object:  Table [dbo].[Organizar]    Script Date: 4/21/2025 12:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizar](
	[idAlojamiento] [int] NOT NULL,
	[idActividad] [int] NOT NULL,
	[dia] [nvarchar](9) NOT NULL,
 CONSTRAINT [pk_Organizar] PRIMARY KEY CLUSTERED 
(
	[idAlojamiento] ASC,
	[idActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_NumActAlo]    Script Date: 4/21/2025 12:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_NumActAlo] as
	select o.idalojamiento, o.dia, count(*) Numero
		from organizar o
		where o.dia in ('Sabado','Domingo')
		group by o.idalojamiento, o.dia
GO
/****** Object:  Table [dbo].[Actividades]    Script Date: 4/21/2025 12:52:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividades](
	[idActividad] [int] NOT NULL,
	[nombre] [nvarchar](20) NOT NULL,
	[descripcion] [nvarchar](200) NULL,
	[dificultad] [int] NOT NULL,
 CONSTRAINT [pk_Actividades] PRIMARY KEY CLUSTERED 
(
	[idActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Actividades] ([idActividad], [nombre], [descripcion], [dificultad]) VALUES (1, N'Senderismo', N'Paseos sencillos por en entorno del alojamiento', 1)
INSERT [dbo].[Actividades] ([idActividad], [nombre], [descripcion], [dificultad]) VALUES (2, N'Bicicleta', N'Paseo en bicicleta de montaña por el entorno del...', 2)
INSERT [dbo].[Actividades] ([idActividad], [nombre], [descripcion], [dificultad]) VALUES (3, N'Caballos', N'Paseo a caballo con guía', 1)
GO
INSERT [dbo].[Alojamientos] ([idAlojamiento], [nombre], [direccion], [telefono], [pContacto], [disponible]) VALUES (1, N'Casa Cienfuegos', N'Sales (Colunga) - Asturias', N'985123456', 1, N's')
INSERT [dbo].[Alojamientos] ([idAlojamiento], [nombre], [direccion], [telefono], [pContacto], [disponible]) VALUES (2, N'Casa Correa', N'Las Campas (Castropol) - Asturias', N'985987654', 6, N's')
INSERT [dbo].[Alojamientos] ([idAlojamiento], [nombre], [direccion], [telefono], [pContacto], [disponible]) VALUES (3, N'Casa Barrera', N'Corias (Pravia) - Asturias', N'985456789', 3, N's')
GO
INSERT [dbo].[Habitaciones] ([idAlojamiento], [idHabitacion], [tipo], [baño], [precio], [ocupada]) VALUES (1, 1, N'Triples', N's', CAST(24.57 AS Decimal(5, 2)), N'n')
INSERT [dbo].[Habitaciones] ([idAlojamiento], [idHabitacion], [tipo], [baño], [precio], [ocupada]) VALUES (1, 2, N'Sencilla', N's', CAST(18.90 AS Decimal(5, 2)), N'n')
INSERT [dbo].[Habitaciones] ([idAlojamiento], [idHabitacion], [tipo], [baño], [precio], [ocupada]) VALUES (1, 3, N'Triples', N's', CAST(24.57 AS Decimal(5, 2)), N'n')
GO
INSERT [dbo].[LetraDni] ([Resto], [Letra]) VALUES (0, N'T')
INSERT [dbo].[LetraDni] ([Resto], [Letra]) VALUES (1, N'R')
INSERT [dbo].[LetraDni] ([Resto], [Letra]) VALUES (2, N'W')
GO
INSERT [dbo].[Organizar] ([idAlojamiento], [idActividad], [dia]) VALUES (1, 5, N'Viernes')
INSERT [dbo].[Organizar] ([idAlojamiento], [idActividad], [dia]) VALUES (1, 6, N'Sábado')
INSERT [dbo].[Organizar] ([idAlojamiento], [idActividad], [dia]) VALUES (1, 7, N'Domingo')
GO
INSERT [dbo].[Personal] ([idTrabajador], [nombre], [direccion], [nif]) VALUES (1, N'Luis Martínez', N'Calle Uría 12. Oviedo', N'12345678Z')
INSERT [dbo].[Personal] ([idTrabajador], [nombre], [direccion], [nif]) VALUES (2, N'Marta Álvarez', N'Calle Menéndez Valdés 21. Gijón', N'98123456M')
INSERT [dbo].[Personal] ([idTrabajador], [nombre], [direccion], [nif]) VALUES (3, N'Susana García', N'Calle Picos de Europa 51. Gijón', N'10345678W')
GO
INSERT [dbo].[Trabajar] ([idTrabajador], [idAlojamiento], [fecAlta], [fecBaja]) VALUES (1, 1, CAST(N'2010-01-10' AS Date), NULL)
INSERT [dbo].[Trabajar] ([idTrabajador], [idAlojamiento], [fecAlta], [fecBaja]) VALUES (1, 3, CAST(N'2005-01-01' AS Date), CAST(N'2008-12-31' AS Date))
INSERT [dbo].[Trabajar] ([idTrabajador], [idAlojamiento], [fecAlta], [fecBaja]) VALUES (1, 5, CAST(N'2009-01-01' AS Date), CAST(N'2012-12-31' AS Date))
GO
ALTER TABLE [dbo].[Actividades] ADD  DEFAULT ((1)) FOR [dificultad]
GO
ALTER TABLE [dbo].[Alojamientos] ADD  DEFAULT ('s') FOR [disponible]
GO
ALTER TABLE [dbo].[Alojamientos]  WITH CHECK ADD  CONSTRAINT [fk_AlojamientosPersonal] FOREIGN KEY([pContacto])
REFERENCES [dbo].[Personal] ([idTrabajador])
GO
ALTER TABLE [dbo].[Alojamientos] CHECK CONSTRAINT [fk_AlojamientosPersonal]
GO
ALTER TABLE [dbo].[Habitaciones]  WITH NOCHECK ADD  CONSTRAINT [fk_HabitacionesAlojamientos] FOREIGN KEY([idAlojamiento])
REFERENCES [dbo].[Alojamientos] ([idAlojamiento])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Habitaciones] CHECK CONSTRAINT [fk_HabitacionesAlojamientos]
GO
ALTER TABLE [dbo].[Organizar]  WITH CHECK ADD  CONSTRAINT [fk_OrganizarActividad] FOREIGN KEY([idActividad])
REFERENCES [dbo].[Actividades] ([idActividad])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Organizar] CHECK CONSTRAINT [fk_OrganizarActividad]
GO
ALTER TABLE [dbo].[Organizar]  WITH CHECK ADD  CONSTRAINT [fk_OrganizarAlojamientos] FOREIGN KEY([idAlojamiento])
REFERENCES [dbo].[Alojamientos] ([idAlojamiento])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Organizar] CHECK CONSTRAINT [fk_OrganizarAlojamientos]
GO
ALTER TABLE [dbo].[Trabajar]  WITH NOCHECK ADD  CONSTRAINT [fk_TrabajarAlojamientos] FOREIGN KEY([idAlojamiento])
REFERENCES [dbo].[Alojamientos] ([idAlojamiento])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Trabajar] CHECK CONSTRAINT [fk_TrabajarAlojamientos]
GO
ALTER TABLE [dbo].[Trabajar]  WITH NOCHECK ADD  CONSTRAINT [fk_TrabajarTrabajador] FOREIGN KEY([idTrabajador])
REFERENCES [dbo].[Personal] ([idTrabajador])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Trabajar] CHECK CONSTRAINT [fk_TrabajarTrabajador]
GO
ALTER TABLE [dbo].[Alojamientos]  WITH CHECK ADD  CONSTRAINT [AlojamientosTelefono] CHECK  ((CONVERT([int],[telefono])>(0) AND len([telefono])<=(9)))
GO
ALTER TABLE [dbo].[Alojamientos] CHECK CONSTRAINT [AlojamientosTelefono]
GO
ALTER TABLE [dbo].[Alojamientos]  WITH CHECK ADD  CONSTRAINT [Valores] CHECK  (([disponible]='n' OR [disponible]='s'))
GO
ALTER TABLE [dbo].[Alojamientos] CHECK CONSTRAINT [Valores]
GO
ALTER TABLE [dbo].[Habitaciones]  WITH NOCHECK ADD  CONSTRAINT [HabitacionesBaño] CHECK  (([baño]='s' OR [baño]='n'))
GO
ALTER TABLE [dbo].[Habitaciones] CHECK CONSTRAINT [HabitacionesBaño]
GO
ALTER TABLE [dbo].[Habitaciones]  WITH NOCHECK ADD  CONSTRAINT [HabitacionesidHabitacion] CHECK  (([idHabitacion]>(0)))
GO
ALTER TABLE [dbo].[Habitaciones] CHECK CONSTRAINT [HabitacionesidHabitacion]
GO
ALTER TABLE [dbo].[Habitaciones]  WITH CHECK ADD  CONSTRAINT [HabitacionesOcupadaValores] CHECK  (([ocupada]='n' OR [ocupada]='s'))
GO
ALTER TABLE [dbo].[Habitaciones] CHECK CONSTRAINT [HabitacionesOcupadaValores]
GO
ALTER TABLE [dbo].[Habitaciones]  WITH NOCHECK ADD  CONSTRAINT [HabitacionesPrecio] CHECK  (([precio]>(0)))
GO
ALTER TABLE [dbo].[Habitaciones] CHECK CONSTRAINT [HabitacionesPrecio]
GO
ALTER TABLE [dbo].[Organizar]  WITH CHECK ADD  CONSTRAINT [OrganizarDia] CHECK  (([dia]='Domingo' OR [dia]='Sábado' OR [dia]='Viernes' OR [dia]='Jueves' OR [dia]='Miércoles' OR [dia]='Martes' OR [dia]='Lunes'))
GO
ALTER TABLE [dbo].[Organizar] CHECK CONSTRAINT [OrganizarDia]
GO
ALTER TABLE [dbo].[Personal]  WITH CHECK ADD  CONSTRAINT [PersonalNif] CHECK  ((len([nif])=(9)))
GO
ALTER TABLE [dbo].[Personal] CHECK CONSTRAINT [PersonalNif]
GO
ALTER TABLE [dbo].[Trabajar]  WITH CHECK ADD  CONSTRAINT [TrabajarFechas] CHECK  (([fecBaja]>=[fecAlta]))
GO
ALTER TABLE [dbo].[Trabajar] CHECK CONSTRAINT [TrabajarFechas]
GO
USE [master]
GO
