USE [master]
GO
/****** Object:  Database [GIMNASIOS]    Script Date: 4/21/2025 12:52:33 PM ******/
CREATE DATABASE [GIMNASIOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DGIMNASIOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERBADAT\MSSQL\DATA\GIMNASIOS\DGIMNASIOS.MDF' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TGIMNASIOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERBADAT\MSSQL\DATA\GIMNASIOS\TGIMNASIOS.LDF' , SIZE = 10240KB , MAXSIZE = 2048GB , FILEGROWTH = 15%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GIMNASIOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GIMNASIOS]
GO
/****** Object:  Table [dbo].[Profesores]    Script Date: 4/21/2025 12:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesores](
	[idProfesor] [int] NOT NULL,
	[nombre] [nvarchar](30) NOT NULL,
	[Apellido1] [nvarchar](30) NOT NULL,
	[Apellido2] [nvarchar](30) NOT NULL,
	[Dni] [nvarchar](9) NOT NULL,
 CONSTRAINT [pk_Profesores] PRIMARY KEY CLUSTERED 
(
	[idProfesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actividades]    Script Date: 4/21/2025 12:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividades](
	[idActividad] [int] NOT NULL,
	[despcripcion] [nvarchar](25) NOT NULL,
	[idProfesor] [int] NOT NULL,
	[activa] [nvarchar](1) NOT NULL,
	[precio] [int] NOT NULL,
 CONSTRAINT [pk_idActividad] PRIMARY KEY CLUSTERED 
(
	[idActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 4/21/2025 12:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[idAlumno] [int] NOT NULL,
	[nombre] [nvarchar](30) NOT NULL,
	[telefono] [nvarchar](9) NOT NULL,
	[activo] [nvarchar](1) NOT NULL,
	[Apellido1] [nvarchar](30) NOT NULL,
	[Apellido2] [nvarchar](30) NULL,
	[Dni] [nvarchar](9) NOT NULL,
 CONSTRAINT [pk_idAlumnos] PRIMARY KEY CLUSTERED 
(
	[idAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clases]    Script Date: 4/21/2025 12:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clases](
	[idAlumno] [int] NOT NULL,
	[idActividad] [int] NOT NULL,
	[fecha] [date] NOT NULL,
 CONSTRAINT [pk_Clases] PRIMARY KEY CLUSTERED 
(
	[idAlumno] ASC,
	[idActividad] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProfesorAlumno]    Script Date: 4/21/2025 12:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProfesorAlumno] AS
(SELECT p.nombre as Profesorado, al.nombre +' '+ al.Apellido1 +' '+ al.Apellido2 as Alumnado, a.idActividad as Actividad
FROM Profesores p join Actividades a 
on p.idProfesor = a.idProfesor
join Clases c
on a.idActividad = c.idActividad
join Alumnos al
on c.idAlumno = al.idAlumno)
GO
/****** Object:  View [dbo].[vw_GeneraRecibo]    Script Date: 4/21/2025 12:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_GeneraRecibo] AS
	SELECT c.idAlumno as Alumno, sum(a.precio) as Importe FROM 
	Clases c join Actividades a 
	on c.idActividad = a.idActividad
	group by c.idAlumno
GO
/****** Object:  Table [dbo].[Recibos]    Script Date: 4/21/2025 12:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recibos](
	[idAlumno] [int] NOT NULL,
	[fEmision] [date] NOT NULL,
	[fPago] [date] NULL,
	[importe] [int] NOT NULL,
 CONSTRAINT [pk_Recibos] PRIMARY KEY CLUSTERED 
(
	[idAlumno] ASC,
	[fEmision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_GeneraRecibo115]    Script Date: 4/21/2025 12:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_GeneraRecibo115] AS
	SELECT importe, nombre + ' ' + Apellido1 + ' ' + Apellido2 as nombre FROM Recibos r JOIN Alumnos a ON r.idAlumno = a.idAlumno
	WHERE importe > (SELECT AVG(importe)* 1.15 FROM Recibos)
GO
/****** Object:  View [dbo].[vw_ActividadSinUso]    Script Date: 4/21/2025 12:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ActividadSinUso] AS
	SELECT idActividad FROM Actividades WHERE idActividad NOT IN (SELECT Actividad from vw_ProfesorAlumno)
GO
/****** Object:  Table [dbo].[Demandar]    Script Date: 4/21/2025 12:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demandar](
	[idAlumno] [int] NOT NULL,
	[idActividad] [int] NOT NULL,
 CONSTRAINT [pk_Demandar] PRIMARY KEY CLUSTERED 
(
	[idAlumno] ASC,
	[idActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_demandas]    Script Date: 4/21/2025 12:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_demandas] AS
	SELECT * FROM Demandar WHERE idAlumno in (select distinct idAlumno from Clases)
GO
/****** Object:  View [dbo].[vw_Resumen]    Script Date: 4/21/2025 12:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Resumen] AS
	SELECT idActividad, 
	(SELECT count(*) FROM Demandar WHERE idActividad = a.idActividad) as Demandadas,
	(SELECT count(*) FROM Clases WHERE idActividad = a.idActividad) as Cursada
	FROM Actividades a
GO
/****** Object:  Table [dbo].[DatosAlumnos_GIM]    Script Date: 4/21/2025 12:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosAlumnos_GIM](
	[idAlumno] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
	[nombre] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[Activo] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Actividades] ([idActividad], [despcripcion], [idProfesor], [activa], [precio]) VALUES (1, N'Halterofilia', 1, N's', 24)
INSERT [dbo].[Actividades] ([idActividad], [despcripcion], [idProfesor], [activa], [precio]) VALUES (2, N'Ciclo Indoor', 2, N's', 20)
INSERT [dbo].[Actividades] ([idActividad], [despcripcion], [idProfesor], [activa], [precio]) VALUES (3, N'Aerobic', 1, N's', 22)
GO
INSERT [dbo].[Alumnos] ([idAlumno], [nombre], [telefono], [activo], [Apellido1], [Apellido2], [Dni]) VALUES (1, N'Luisa', N'956333444', N's', N'Núñez', N'Gil', N'44444444A')
INSERT [dbo].[Alumnos] ([idAlumno], [nombre], [telefono], [activo], [Apellido1], [Apellido2], [Dni]) VALUES (2, N'Angel', N'628123456', N's', N'Pérez', N'Carrasco', N'55555555K')
INSERT [dbo].[Alumnos] ([idAlumno], [nombre], [telefono], [activo], [Apellido1], [Apellido2], [Dni]) VALUES (3, N'Clara', N'965080807', N's', N'De la Torre', N'Huertas', N'66666666Q')
GO
INSERT [dbo].[Clases] ([idAlumno], [idActividad], [fecha]) VALUES (1, 2, CAST(N'2013-03-01' AS Date))
INSERT [dbo].[Clases] ([idAlumno], [idActividad], [fecha]) VALUES (1, 4, CAST(N'2013-04-01' AS Date))
INSERT [dbo].[Clases] ([idAlumno], [idActividad], [fecha]) VALUES (2, 5, CAST(N'2033-04-10' AS Date))
GO
INSERT [dbo].[DatosAlumnos_GIM] ([idAlumno], [apellidos], [nombre], [telefono], [Activo]) VALUES (N'1', N'Núñez Gil', N'Luisa', N'956333444', N's')
INSERT [dbo].[DatosAlumnos_GIM] ([idAlumno], [apellidos], [nombre], [telefono], [Activo]) VALUES (N'22', N'Pérez Carrasco', N'Angel', N'628123456', N's')
INSERT [dbo].[DatosAlumnos_GIM] ([idAlumno], [apellidos], [nombre], [telefono], [Activo]) VALUES (N'3', N'De la Torre Huertas', N'Clara', N'956080808', N's')
GO
INSERT [dbo].[Demandar] ([idAlumno], [idActividad]) VALUES (3, 4)
INSERT [dbo].[Demandar] ([idAlumno], [idActividad]) VALUES (5, 2)
INSERT [dbo].[Demandar] ([idAlumno], [idActividad]) VALUES (5, 4)
GO
INSERT [dbo].[Profesores] ([idProfesor], [nombre], [Apellido1], [Apellido2], [Dni]) VALUES (1, N'Rosario', N'Fernández', N'Benítez', N'11111111H')
INSERT [dbo].[Profesores] ([idProfesor], [nombre], [Apellido1], [Apellido2], [Dni]) VALUES (2, N'Luis', N'García', N'Rodríguez', N'22222222J')
INSERT [dbo].[Profesores] ([idProfesor], [nombre], [Apellido1], [Apellido2], [Dni]) VALUES (3, N'Felipe', N'Gómez', N'Javaloyes', N'33333333P')
GO
INSERT [dbo].[Recibos] ([idAlumno], [fEmision], [fPago], [importe]) VALUES (1, CAST(N'2025-03-23' AS Date), NULL, 40)
INSERT [dbo].[Recibos] ([idAlumno], [fEmision], [fPago], [importe]) VALUES (3, CAST(N'2025-03-23' AS Date), NULL, 86)
INSERT [dbo].[Recibos] ([idAlumno], [fEmision], [fPago], [importe]) VALUES (4, CAST(N'2025-03-23' AS Date), NULL, 20)
GO
ALTER TABLE [dbo].[Actividades] ADD  DEFAULT ('s') FOR [activa]
GO
ALTER TABLE [dbo].[Actividades] ADD  DEFAULT ((0)) FOR [precio]
GO
ALTER TABLE [dbo].[Alumnos] ADD  DEFAULT ('s') FOR [activo]
GO
ALTER TABLE [dbo].[Alumnos] ADD  DEFAULT ('') FOR [Apellido1]
GO
ALTER TABLE [dbo].[Alumnos] ADD  DEFAULT (NULL) FOR [Apellido2]
GO
ALTER TABLE [dbo].[Alumnos] ADD  DEFAULT ('') FOR [Dni]
GO
ALTER TABLE [dbo].[Profesores] ADD  DEFAULT ('') FOR [Apellido1]
GO
ALTER TABLE [dbo].[Profesores] ADD  DEFAULT ('') FOR [Apellido2]
GO
ALTER TABLE [dbo].[Profesores] ADD  DEFAULT ('') FOR [Dni]
GO
ALTER TABLE [dbo].[Actividades]  WITH CHECK ADD  CONSTRAINT [fk_ActividadesidProfesor] FOREIGN KEY([idProfesor])
REFERENCES [dbo].[Profesores] ([idProfesor])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Actividades] CHECK CONSTRAINT [fk_ActividadesidProfesor]
GO
ALTER TABLE [dbo].[Clases]  WITH CHECK ADD  CONSTRAINT [fk_ClasesActividad] FOREIGN KEY([idActividad])
REFERENCES [dbo].[Actividades] ([idActividad])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Clases] CHECK CONSTRAINT [fk_ClasesActividad]
GO
ALTER TABLE [dbo].[Clases]  WITH CHECK ADD  CONSTRAINT [fk_ClasesAlumnos] FOREIGN KEY([idAlumno])
REFERENCES [dbo].[Alumnos] ([idAlumno])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Clases] CHECK CONSTRAINT [fk_ClasesAlumnos]
GO
ALTER TABLE [dbo].[Demandar]  WITH CHECK ADD  CONSTRAINT [fk_DemandarActividad] FOREIGN KEY([idActividad])
REFERENCES [dbo].[Actividades] ([idActividad])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Demandar] CHECK CONSTRAINT [fk_DemandarActividad]
GO
ALTER TABLE [dbo].[Demandar]  WITH CHECK ADD  CONSTRAINT [fk_DemandarAlumnos] FOREIGN KEY([idAlumno])
REFERENCES [dbo].[Alumnos] ([idAlumno])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Demandar] CHECK CONSTRAINT [fk_DemandarAlumnos]
GO
ALTER TABLE [dbo].[Recibos]  WITH CHECK ADD  CONSTRAINT [fk_RecibosAlumnos] FOREIGN KEY([idAlumno])
REFERENCES [dbo].[Alumnos] ([idAlumno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recibos] CHECK CONSTRAINT [fk_RecibosAlumnos]
GO
ALTER TABLE [dbo].[Actividades]  WITH CHECK ADD  CONSTRAINT [ActividadesPrecio] CHECK  (([precio]>=(0)))
GO
ALTER TABLE [dbo].[Actividades] CHECK CONSTRAINT [ActividadesPrecio]
GO
USE [master]
GO
